* {
    line-height: 1.5;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 300px;
}

img {
    width: 100px;
}

ul {
    list-style: none;
}

.recipe-card {
    width: 400px;
    text-align: center;
    background-color: aqua;
    margin: 20px auto;
    padding: 50px;
}

.recipe-content {
    text-align: left;
}

p {
    margin-bottom: 20px;
}

.recipe-card h2,
.recipe-card a {
    text-transform: uppercase;
}

.recipe-card.feature {
    border: 4px solid green;
}

ul li h2 {
    font-size: 16 px;
}

.chinese-noodles {
    background-color: #fc9400;
    color: white;
    text-decoration: none;
    margin: 20 pix;
    padding: 10px 12px;

}
/* THis is an experiement to see if I can make the links turn a different colour 
when hovering as I saw in a CSS mdn doc example feb 11, 2025 */ 

ul {
    font-family: sans-serif;
    display: flex;
    list-style: none;
    border: 1px solid #000;
  }
  
  .links-list {
    background-color: rgb(179 57 81);
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    display: inline-block
  }
  
  .links-list:hover {
    background-color: rgb(66 28 40);
    color: #fff;
  }
  /* Above line is from experiment feb 11, 2025 */